.locationTab {
  display: none;
}
.locationsHero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1600px;
  margin: 20px auto;
  padding-block: 100px;
  padding-inline: 40px;
  position: relative;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.three-d-map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.locationsHero #GlobeSvg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.locationsHero #MaharashtraMapSvg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 2;
}

.locationsHeroDetails {
  position: absolute;
  bottom: 2%;
  right: 5%;
  z-index: 99;
}

.locationsHeroDetails h1 {
  font-size: 50px;
  color: var(--orange-color);
}

.locationsHeroDetails p {
  font-size: var(--fonts--desktop--body1);
  color: var(--black-color);
}

#Mumbai:hover {
  cursor: pointer;
}

@keyframes pulseStroke {
  0% {
    stroke-width: 0.5;
    stroke-opacity: 0;
  }
  50% {
    stroke-width: 2;
    stroke-opacity: 1;
  }
  100% {
    stroke-width: 0.5;
    stroke-opacity: 0;
  }
}

#Mumbai > #Mumbai_Bg {
  animation: pulseStroke 2s infinite;
  transition: stroke-width stroke-opacity 0.3s ease-in-out;
}

#Mumbai:hover > #Mumbai_Bg {
  fill: var(--orange-color);
}

/* #Mumbai:hover > #Mumbai_text {
    fill: var(--white-color);
  } */

#Pune:hover {
  cursor: pointer;
}

#Pune > #Pune_Bg {
  animation: pulseStroke 2s infinite;
  transition: stroke-width stroke-opacity 0.3s ease-in-out;
}

#Pune:hover > #Pune_Bg {
  fill: var(--orange-color);
}

#Pune:hover > #Pune_text {
  fill: var(--white-color);
}

#Nashik:hover {
  cursor: pointer;
}

#Nashik > #Nashik_Bg {
  animation: pulseStroke 2s infinite;
  transition: stroke-width stroke-opacity 0.3s ease-in-out;
}

#Nashik:hover > #Nashik_Bg {
  fill: var(--orange-color);
}

#Nashik:hover > #Nashik_text {
  fill: var(--white-color);
}

#Aurangabad:hover {
  cursor: pointer;
}

#Aurangabad > #Aurangabad_Bg {
  animation: pulseStroke 2s infinite;
  transition: stroke-width stroke-opacity 0.3s ease-in-out;
}

#Aurangabad:hover > #Aurangabad_Bg {
  fill: var(--orange-color);
}

#Aurangabad:hover > #Aurangabad_text {
  fill: var(--white-color);
}

#Nagpur:hover {
  cursor: pointer;
}

#Nagpur > #Nagpur_Bg {
  animation: pulseStroke 2s infinite;
  transition: stroke-width stroke-opacity 0.3s ease-in-out;
}

#Nagpur:hover > #Nagpur_Bg {
  fill: var(--orange-color);
}

#Nagpur:hover > #Nagpur_text {
  fill: var(--white-color);
}

.contributionGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 40px;
  margin-top: 40px;
  justify-content: space-between;
}

.contributionGridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 278px;
  height: 90px;
  border-top: 1px solid var(--black-color);
}

.contributionGridItem h3 {
  font-size: 40px;
}

.contributionGridItem .contributionGridData h3 span {
  vertical-align: super;
  font-size: 24px;
}

.contributionGridItem .contributionGridData p {
  font-size: var(--fonts--desktop--body2);
}

#seaLink {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  padding: 80px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-inline: auto;
  box-sizing: border-box;
}
#seaLink .sectionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

#seaLink .sectionImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#seaLink .sectionBody {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  /* display: flex;
    align-items: end;
    justify-content: end;
    align-content: end; */
}
#seaLink .sectionBody h3 {
  color: black;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -0.64px;
  grid-column: 3/5;
  /* transform: translateY(100%); */
}

#industrialCluster {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 40px;
  gap: 40px;
  position: relative;
  box-sizing: border-box;
}

.industrialGradientGlow {
  position: absolute;
  bottom: 24%;
  right: 35%;
  width: 100px;
  height: 100px;
  filter: blur(100px);
  background-color: var(--orange-color);
}

.industrialHead h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
}

#industrialContainer {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 21rem;
  grid-template-areas:
    "gridItem1 . gridItem2 ."
    ". gridItem3 . gridItem4";
  gap: 30px;
}

#industrialCluster .gridItem:nth-child(1) {
  grid-area: gridItem1;
}

#industrialCluster .gridItem:nth-child(2) {
  grid-area: gridItem2;
}

#industrialCluster .gridItem:nth-child(3) {
  grid-area: gridItem3;
}

#industrialCluster .gridItem:nth-child(4) {
  grid-area: gridItem4;
}

#industrialCluster .gridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 1px solid #ff5100;
  padding: 20px;
  background-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    rgba(255, 81, 0, 0.02);
  opacity: 0;
  transform: translateY(50%);
}

#industrialCluster .gridItem h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ff5100;
  line-height: 100%;
  letter-spacing: 0px;
}

#industrialCluster .gridItem p {
  font-size: var(--fonts--desktop--body1);
  font-weight: 400;
  color: black;
  line-height: 115%;
}

/* <!-- ----section/4---- --> */
#whyMumbai {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1600px;
  overflow: hidden;
  margin: 0 auto;
  padding: 80px 40px;
  /* gap: 40px; */
}
#whyMumbai .sectionHead {
  margin-bottom: 24px;
}
.sectionHead h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -1px;
  background: linear-gradient(85deg, #ff7128 7.52%, #7e01a2 43.39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  /* transform: translateY(100%); */
}
#whyMumbai .sectionHead h2 {
  /* background: linear-gradient(85deg, #ff7128 7.52%, #7e01a2 20.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1; */
  background: linear-gradient(85deg, #ff7128 7.52%, #7e01a2 43.39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}
.whyMumbaiScroll {
  width: 100%;
  overflow-x: scroll;
  cursor: url("/images/Locations/CTA.svg"), auto;
}

#whyMumbaiContainer {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(6, 22.625rem);
  grid-auto-rows: auto;
}

#whyMumbaiContainer .gridItem {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: start;
  gap: 90px;
  border: 1px solid var(--mid-grey-color);
  border-right: none;
  padding: 20px;
  /* background-color: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.4) 100%
      ),
      rgba(255, 81, 0, 0.02); */
  background-color: var(--white-color);
  /* opacity: 1; */
  /* transform: translateX(); */
}
#whyMumbaiContainer .gridItem:last-child {
  border-right: 1px solid var(--mid-grey-color);
}

#whyMumbaiContainer .gridItem.empty {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#whyMumbaiContainer .gridItem h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--black-color);
  line-height: 100%;
  /* letter-spacing: -1px; */
}
.gridItem {
  transition: opacity 0.5s, transform 0.8s;
}

#whyMumbaiContainer .gridItem p {
  font-size: 16px;
  color: #2b2f34;
  line-height: 115%;
}

/* <!-- ----section/5---- --> */

#qualityOfLife {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 40px;
  /* gap: 40px; */
  box-sizing: border-box;
}
.headingContainer {
  margin-bottom: 2rem;
}
.headingContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-direction: row;
}
.sectionHeading {
  width: 50%;
  color: black;

  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
}
.sectionSubheading {
  width: 50%;
  color: #2b2f34;

  font-size: var(--fonts--desktop--body1-capital);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}
.customGrid {
  width: max-content;
  display: grid;
  grid-template-columns: 36.563rem 17.375rem 36.563rem 36.563rem;
  /* grid-auto-rows: 34.563rem; */
  grid-auto-rows: auto;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 1rem;
  overflow: scroll;
  width: 100%;
  margin-right: 16px;
  cursor: url("/images/Locations/CTA.svg"), auto;
}

.customGrid::-webkit-scrollbar,
.whyMumbaiScroll::-webkit-scrollbar {
  display: none;
}
.gridItemLarge,
.gridItemSmall {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  background-color: #fff;
}
.gridItemLarge {
  width: 100%;
  height: 27.375rem;
  height: auto;
}
.gridItemSmall {
  width: 100%;
  height: 13rem;
  height: auto;
}
.gridItemLarge img,
.gridItemSmall img {
  max-width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 1.375rem;
  object-fit: cover;
}
.gridItemLarge h2,
.gridItemSmall h2 {
  color: black;
  font-size: var(--fonts--desktop--sub-heading3);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}
.gridItemLarge p,
.gridItemSmall p {
  color: #999;
  font-size: var(--fonts--desktop--body2);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

/* <!-- ----section/6---- --> */

#placesOfInterest {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1600px;
  padding: 80px 40px;
  margin: 0 auto;
  box-sizing: border-box;
}
#placesOfInterest .sectionHead h2 {
  font-size: 80px;
}
.sectionDivider {
  background-color: #999999;
  width: 100%;
  height: 0.5px;
  margin-top: 24px;
  margin-bottom: 24px;
  transform-origin: center left;
}
.placesContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row;
}
.placesContentHead {
  width: 50%;
  height: 100%;
}
.placesContentHead h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -0.64px;
  color: black;
}
.placesImageContent {
  gap: 30px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row;
}

.placesImageContent img {
  /* width: 278px; */
  width: 50%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.placesImageContent .bodyText {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  color: #2b2f34;
}

/* <!-- ----section/7---- --> */

.branding {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  max-width: 1600px;
  padding: 40px;
  /* margin-bottom: 40px; */
  padding-block: 80px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.brandingHeading {
  width: 50%;
  height: 100%;
}
.brandingHeading h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  width: 37%;
}
.brandingHeading span {
  background: linear-gradient(83deg, #ff7128 12.05%, #7e01a2 88.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
}

.brandingGrid {
  display: grid;
  flex-direction: row;
  background-color: transparent;
  grid-template-columns: repeat(2, 17.375rem);

  gap: 30px;
}

.brandingText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: transparent;
  gap: 5rem;
}

.brandingText img {
  width: 64px;
  height: 64px;
}

.sectorAtAGlance .gridItem.empty {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.sectorAtAGlance .gridItem h3 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ff5100;
  line-height: 100%;
  letter-spacing: -1px;
}

.brandingText p {
  font-size: 24px;
  color: black;
  line-height: 115%;
}
.textWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-direction: column;
}
.brandingDivider {
  background-color: black;
  width: 100%;
  height: 0.75px;
}

.divider {
  background-color: black;
  width: 100%;
  height: 0.75px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .locationsHero #MaharashtraMapSvg {
    /* opacity: 0; */
    /* position: absolute; */
    top: 27%;
    left: 51%;
    width: 56%;
  }
  .locationsHeroDetails {
    position: relative;
    padding: 40px;
  }
  .brandingGrid {
    grid-template-columns: repeat(2, 10.375rem);
  }
  #industrialContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "gridItem1 ."
      ". gridItem2"
      "gridItem3 ."
      ". gridItem4";
  }
  .placesContentHead {
    width: 32%;
  }
  .placesImageContent {
    /* gap: 30px; */
    width: 64%;
  }
}
@media screen and (max-width: 1280px) {
  .locationsHero {
    min-height: 100vh;
    padding-top: 100px;
  }
  #industrialContainer {
    grid-auto-rows: 17rem;
  }
}
@media screen and (max-width: 480px) {
  .locationsHero {
    padding-top: 0px;
  }

  #MaharashtraMapSvg {
    width: 70%;
  }
  .locationTab {
    display: block;
    margin-top: 100px;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
  }
  .exploreTabContainer {
    padding-right: 1rem;
    width: 100%;
    white-space: nowrap;
  }

  .exploreTabContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-inline: 1rem;
    /* border-bottom: 1.5px solid var(--light-grey-color); */
    box-sizing: border-box;
  }

  .locationsTabDivider {
    margin-bottom: 40px;
    width: 100%;
    height: 0.75px;
    background-color: #d1d1d2;
  }

  .tab1,
  .tab2,
  .tab3,
  .tab4,
  .tab5 {
    cursor: pointer;
    width: fit-content;
    height: 100%;
    padding: 16px 0;
    color: #72777f;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  }

  .tab1,
  .tab2,
  .tab3,
  .tab4,
  .tab5 {
    padding: 0;
    padding-bottom: 1rem;
    font-size: var(--fonts--mobile--body1);
    letter-spacing: 0;
  }

  .exploreTabContainer > div.active {
    color: #ff5100;
    border-bottom: 2px solid #ff5100;
  }

  .contributionGrid {
    grid-template-columns: repeat(2, 109px);
    column-gap: 24px;
    margin-top: 26px;
  }
  .locationsHero {
    padding-inline: 1rem;
    margin-bottom: 60px;
  }
  .locationsHeroDetails {
    position: relative;
    bottom: -70%;
    right: 0;
    padding-left: 80px;
  }
  .locationsHeroDetails h1 {
    line-height: 90%;
    font-size: var(--fonts--mobile--sub-heading2);
    margin-bottom: 4px;
  }
  .locationsHeroDetails p {
    font-size: var(--fonts--mobile--body2);
  }
  .contributionGridItem h3 {
    font-size: var(--fonts--mobile--sub-heading2);
  }
  .contributionGridItem .contributionGridData h3 span {
    font-size: var(--fonts--mobile--body1);
  }
  .contributionGridItem .contributionGridData p {
    font-size: var(--fonts--mobile--body2);
  }
  .contributionGridItem {
    width: auto;
    justify-content: flex-start;
  }
  /* .contribution-divider {
      margin-block: 24px;
    } */
  .contributionGridData {
    margin-top: 24px;
  }

  #seaLink {
    padding: 60px 1rem;
    gap: 20px;
  }
  #seaLink .sectionBody {
    column-gap: 1rem;
  }
  #seaLink .sectionBody h3 {
    font-size: var(--fonts--mobile--sub-heading-capital);
    /* margin-left: 100px; */
    grid-column: 2/5;
  }
  #seaLink .sectionBody h3 br {
    display: none;
  }
  #seaLink .sectionImage {
    aspect-ratio: 4/3;
  }
  /*industrialCluster*/
  #industrialCluster {
    padding: 60px 1rem;
    gap: 24px;
  }
  .industrialGradientGlow {
    position: absolute;
    bottom: 32%;
    right: 15%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: blur(100px);
    background-color: var(--orange-color);
  }
  .industrialHead h2 {
    font-size: var(--fonts--mobile--sub-heading2);
  }
  #industrialContainer {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 13.375rem;
    /* grid-template-rows: minmax(10.375rem, auto); */
    grid-template-areas:
      "gridItem1 . "
      ". gridItem2"
      "gridItem3 . "
      ". gridItem4";
    gap: 1rem;
  }
  #industrialCluster .gridItem {
    padding: 16px;
  }
  #industrialCluster .gridItem h3 {
    font-size: var(--fonts--mobile--body1);
    letter-spacing: 0;
  }
  #industrialCluster .gridItem p {
    font-size: var(--fonts--mobile--body2);
  }
  #whyMumbai {
    padding: 60px 0rem;
    gap: 0px;
    box-sizing: border-box;
  }

  .pinSpacer {
    padding: 0;
  }
  .sectionHead h2 {
    font-size: var(--fonts--mobile--sub-heading2);
  }
  #whyMumbai .sectionHead {
    padding-inline: 1rem;
  }

  #whyMumbaiContainer {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(6, 15.125rem);
    grid-auto-rows: auto;
    width: 100%;
    overflow: scroll;
    padding-inline: 1rem;
    box-sizing: border-box;
  }
  #whyMumbaiContainer .gridItem h3 {
    font-size: var(--fonts--mobile--sub-heading4);
  }
  #whyMumbaiContainer .gridItem p {
    font-size: var(--fonts--mobile--body2);
  }
  #whyMumbaiContainer .gridItem {
    justify-content: flex-start;
    gap: 30px;
  }
  #qualityOfLife {
    padding: 60px 0rem;
  }
  .headingContainer {
    padding: 0;
    padding-inline: 1rem;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
  .headingContainer {
    flex-direction: column;
    gap: 12px;
  }

  #qualityOfLife .customGrid {
    margin-top: 0;
  }
  .sectionHeading,
  .sectionSubheading {
    width: 100%;
  }

  .sectionHeading {
    font-size: var(--fonts--mobile--sub-heading2);
  }
  .sectionSubheading {
    font-size: var(--fonts--mobile--sub-heading4);
  }
  .customGrid {
    margin-top: 40px;
    grid-template-columns: 15.125rem 9.75rem 15.125rem 15.125rem;
    /* grid-auto-rows: 19rem; */
    grid-auto-rows: auto;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    overflow: hidden;
    padding-inline: 1rem;
  }
  .gridItemLarge h2,
  .gridItemSmall h2 {
    margin-bottom: 4px;
    font-size: var(--fonts--mobile--body1);
  }
  .gridItemLarge p,
  .gridItemSmall p {
    font-size: var(--fonts--mobile--body2);
  }
  .gridItemLarge img,
  .gridItemSmall img {
    margin-bottom: 12px;
  }
  #placesOfInterest {
    padding: 60px 1rem;
  }
  #placesOfInterest .sectionHead h2 {
    font-size: 48px;
    margin-bottom: -16px;
    line-height: 90%;
  }
  .placesContentContainer,
  .placesImageContent {
    flex-direction: column;
    width: 100%;
  }
  .placesContentHead {
    width: 100%;
  }
  .placesContentHead h3 {
    font-size: var(--fonts--mobile--sub-heading-capital);
    margin-bottom: 1rem;
  }
  .placesImageContent img {
    width: 100%;
  }
  .placesImageContent {
    gap: 1rem;
  }

  .placesImageContent .bodyText {
    font-size: var(--fonts--mobile--body1-capital);
  }
  .branding {
    padding-inline: 1rem;
    flex-direction: column;
    padding-block: 60px;
  }

  .brandingHeading h2,
  .brandingHeading h2 span {
    font-size: var(--fonts--desktop--sub-heading-capital);
  }
  .brandingHeading h2 {
    width: 38%;
  }
  #placesOfInterest .sectionDivider {
    margin-block: 48px;
  }
  #placesOfInterest .sectionHead {
    width: 70%;
  }

  .brandingGrid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    row-gap: 48px;
  }
  .textWrapper {
    gap: 32px;
  }
  .brandingText {
    gap: 2rem;
  }

  .brandingText img {
    width: 44px;
    height: 44px;
  }

  .brandingText p {
    font-size: 18px;
  }
  .contributionGridItem .contribution-divider {
    display: none;
  }

  .locationsHero #MaharashtraMapSvg {
    top: 0%;
    left: 15%;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 390px) {
  #industrialContainer {
    grid-auto-rows: minmax(11.375rem, auto);
  }
}
@media screen and (max-width: 360px) {
  #industrialContainer {
    grid-auto-rows: 10.375rem;
  }
  .brandingHeading h2 {
    width: 50%;
  }
}
