@mixin animScaleRotate {
  animation-name: scaleRotateAnim;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}
@mixin animScale {
  animation-name: scaleAnim;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}
@mixin animScaleTwice {
  animation-name: scaleAnimTwice;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}
@mixin animRotate {
  animation-name: rotateAnim;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  transform-origin: center;
}

@keyframes scaleRotateAnim {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.05) rotate(20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes rotateAnim {
  0% {
    transform: rotate(0deg);
  }
  // 50% {
  //   transform: rotate(180deg);
  // }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scaleAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleAnimTwice {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
