/* Elements with a Fade In Animation */
[observer-animation="fadeInUp"] {
	opacity: 0;
	transform: translate3d(0, 10px, 0);
	will-change: opacity, transform;
}
[observer-animation="fadeInUp"].fadeInUp {
	animation-name: fadeInUp;
	animation-duration: 0.4s;
	animation-timing-function: $expoOut;
	animation-fill-mode: forwards;
	&.-sineOut {
		animation-timing-function: $sineOut;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 10px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInUp20 {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeInUp30 {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeInUp40 {
	from {
		opacity: 0;
		transform: translateY(40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
