@use "@/styles/abstracts/" as *;

.m-button {
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    transition: 100ms ease-in-out;

    &__text {
        color: inherit;
        @include font-d-cta;
    }

    &:focus-visible {
        outline: auto;
        outline-offset: 1px;
    }

    &:disabled {
        pointer-events: none;
    }
}

.m-button--primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-16) var(--space-24);
    background-color: var(--white-color);
    border: 2px solid var(--light-grey-color);
    text-decoration: none;
    border-radius: 4px;
    color: var(--orange-color);
    text-align: center;

    @media (hover:hover) {
        &:hover {
            background-color: var(--orange-color);
            color: var(--white-color);
            border-color: var(--white-color);
        }
    }

    @include media("<md") {
        height: 44px;
        padding: var(--space-12) var(--space-16);
    }

    &:disabled {
        opacity: .6;
    }

    &:active {
        background-color: var(--orange-color);
        color: var(--white-color);
        border-color: var(--white-color);
    }

    &.m-button--loading {
        overflow: hidden;
        pointer-events: none;

        .m-button__loading {
            opacity: 1;
            background-color: var(--black-s);
        }

        .m-button__loading-container {
            --btn-load-color: var(--white);
        }
    }

}