* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  /* --orange-color: hsl(19, 100%, 50%);
  --green-color: hsl(161, 97%, 29%);
  --black-color: hsl(0, 0%, 0%);
  --dark-grey-color: hsl(213, 9%, 19%);
  --body-grey-color: hsl(0, 0%, 65%);
  --mid-grey-color: hsl(217, 5%, 47%);
  --light-grey-color: hsl(240, 1%, 82%);
  --background-color: hsl(0, 0%, 94%);
  --white-color: hsl(0, 0%, 100%);
  --colors--background-grey: hsl(0, 0%, 94%);
  --black-color: hsl(0, 0%, 0%); */

  --font-ppneumontreal-medium: "PP Neu Montreal", sans-serif;
  --font-ppneumontreal-book: "PP Neu Montreal Book", sans-serif;
  --font-ebgaramond-italic: "EBGaramond Italic", serif;

  --fonts--desktop--heading1: 120px;
  --fonts--desktop--heading2: 80px;
  --fonts--desktop--sub-heading1: 40px;
  --fonts--desktop--sub-heading2: 32px;
  --fonts--desktop--sub-heading3: 24px;
  --fonts--desktop--sub-heading-capital: 32px;
  --fonts--desktop--body1: 20px;
  --fonts--desktop--body2: 16px;
  --fonts--desktop--body1-capital: 20px;
  --fonts--desktop--helper: 12px;
  --fonts--desktop--navigation: 18px;

  --fonts--mobile--sub-heading3: 20px;
  --fonts--mobile--body1: 16px;
  --fonts--mobile--body2: 14px;

  --fonts--mobile--sub-heading4: 18px;

  --fonts--mobile--sub-heading-capital: 24px;
  --fonts--mobile--sub-heading2: 32px;
  --fonts--desktop--cta: 16px;
  --fonts--mobile--cta: 16px;

  --fonts--mobile--sub-heading1: 40px;

  --fonts--mobile--heading1: 60px;
  --fonts--mobile--body1-capital: 16px;
  --fonts--mobile--helper: 12px;
  --fonts--mobile--navigation: 12px;

  --fonts--desktop--sub-heading-capital: 32px;
  --fonts--desktop--body1-capital: 20px;
  --fonts--desktop--helper: 12px;
  --fonts--desktop--navigation: 18px;

  --line-height--115: 115%;
  --line-height--100: 100%;
  --line-height--90: 90%;

  text-rendering: optimizeLegibility !important;
  -webkit-text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden !important;
  font-family: var(--font-ppneumontreal-regular);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin-inline: auto;
}

.layoutVFlex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.layoutHFlex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}
