.bollywood-container {
  width: 100%;
  max-width: 1600px;
  /* height: 100vh; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /* margin-top: 5rem; */
  margin-inline: auto;
}
.bollywood {
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;
  padding: 0 2.5rem;
}

.bolly-subtitle {
  display: inline-block;
  /* width: min-content; */
}
.bolly-subtitle p {
  /* width: 36%; */
  padding-top: 26px;
  font-size: var(--fonts--desktop--body1);
}

.rightB,
.leftB {
  display: inline-block;
}
.rightB {
  position: relative;
  left: -0.25%;
}
.image {
  display: inline-block;
}

.bolly-camera {
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: 3%;
  left: 13.5%;
}
.bolly-camera div {
  width: 95%;
  height: auto;
}
.bolly-images {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 272px);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 31 / 50;
  object-fit: cover;
}

.bolly-images .inner-grid-wrapper .image:nth-child(2) img {
  object-position: 70% 70% !important;
}

.bolly-text img {
  width: 100%;
  height: auto;
}

.bolly-text {
  position: relative;
  display: grid;
  grid-template-columns: 2fr;
  margin-top: -8rem;
  padding-bottom: 20rem;
}
.bolly-text p {
  display: flex;
  width: 10%;

  width: 100%;
}
.inner-grid-wrapper {
  display: grid;
  grid-row: span 2;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: subgrid;
  gap: 0px 30px;
}
.rightB {
  padding-right: 11.7%;
  left: 13%;
}

/* .inner-grid-wrapper .image:nth-child(1) {
  grid-row: 2;
  grid-column: 2;
}

*/
.inner-grid-wrapper .image:last-child {
  grid-row: 2;
  grid-column: 2;
}
.inner-grid-wrapper:last-child {
  grid-row: 2;
  grid-column: 4;
}

.image:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.bolly-images-mobile {
  display: none;
}

.bolly-images > .image {
  grid-row: span 2;
}

@media (min-width: 1279px) and (max-width: 1439px) {
  .bolly-images,
  .education .education-images,
  .wine .wine-images,
  .gates .gates-images,
  .orange .orange-images {
    grid-template-rows: repeat(4, 200px);
  }
  .bolly-text {
    margin-top: -2rem;
  }
  .bolly-camera div {
    width: 86%;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .bolly-images,
  .education .education-images,
  .wine .wine-images,
  .gates .gates-images,
  .orange .orange-images {
    grid-template-rows: repeat(4, 230px);
  }
  .bolly-text {
    margin-top: -4rem;
  }

  .bolly-camera {
    top: -1%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .bolly-camera {
    top: 1%;
  }
  .bolly-camera div {
    width: 35%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .bolly-camera div {
    width: 66%;
  }

  .bolly-text {
    padding-bottom: 9rem;
    margin-top: 0;
  }

  .bolly-images {
    width: 100%;
    overflow-x: visible;
    grid-template-rows: repeat(3, minmax(200px, 259px)) 200px;
    grid-template-columns: repeat(4, minmax(360px, 1fr));
    gap: 1rem;
    scrollbar-color: transparent transparent;

    .inner-grid-wrapper {
      gap: 0 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .bolly-images-mobile {
    display: block;
  }
  .bolly-images {
    display: none;
    /* overflow: scroll; */
  }
  .bolly-text {
    padding-bottom: 6.5rem;
    margin-top: 2rem;
  }
  .bolly-camera {
    top: -1%;
    left: 14%;
  }
  .bolly-camera div {
    width: 50%;
    height: auto;
  }

  .bollywood {
    margin-top: 3.75rem;
    padding: 0 1rem;
  }
  .bolly-images {
    grid-template-columns: repeat(4, 1fr);
  }
  .image-mobile-conatiner {
    white-space: nowrap;
    overflow-x: auto;
    height: fit-content;
  }
  .image {
    display: inline-block;
  }
  .image:nth-child(1),
  .image:nth-child(4) {
    /* grid-column: span 2; */
    width: 156px;
    height: 224px;
  }
  .image:nth-child(2),
  .image:nth-child(3),
  .image:nth-child(5),
  .image:nth-child(6) {
    width: 70px;
    height: 112px;
  }
  .inner-mobile-images {
    display: inline-flex;
    gap: 1rem;
  }

  .inner-mobile-images .image:nth-child(3),
  .inner-mobile-images .image:nth-child(4),
  .inner-mobile-images .image:nth-child(5),
  .inner-mobile-images .image:nth-child(6) {
    margin-top: 17%;
  }

  .bolly-images-mobile p {
    width: 50%;
    font-size: var(--fonts--mobile--helper);
    margin-top: 2rem;
    margin-left: 50%;
  }
}
@media screen and (max-width: 360px) {
  .bolly-camera {
    left: 12%;
  }
}
