.roadMapContainer {
  border: 1px solid black;
  border-right: none;
}
.roadMap {
  margin: 5rem auto;
  position: relative;
  max-width: 1600px;
  padding: 0 2.5rem;
}
.imgBg {
  position: relative;
}
.imgBg img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  /* background-position: top; */
}
.imgContent {
  display: flex;
  position: absolute;
  color: var(--white-color);
  bottom: 6%;
}
.imgContent .title {
  width: 49%;
  font-size: var(--fonts--desktop--heading2);
  /* line-height: var(--line-height--90); */
  line-height: calc(0.9 * var(--fonts--desktop--heading2));
  margin-left: 22.5%;
}
.imgContent .subtitle {
  margin-top: 24px;
  font-size: var(--fonts--desktop--sub-heading2);
  line-height: var(--line-height--115);
}

.imgContent p {
  width: 25%;
  padding-right: 2.5rem;
  line-height: calc(1.15 * var(--fonts--desktop--body1));
  font-size: var(--fonts--desktop--body1);
  color: white;
}
.roadElements {
  display: flex;
  flex-direction: column;
}
.elementTitle {
  margin-top: 3.5rem;
  font-size: var(--fonts--desktop--sub-heading1);
  color: var(--orange-color);
  display: flex;

  justify-content: space-between;
}

.roadElements button {
  display: flex;
  gap: 0.375rem;
  padding: 1rem 24px;
  font-size: var(--fonts--desktop--body2);
  border: 2px solid #d1d1d2;
  background-color: var(--white-color);
  border-radius: 4px;
  color: var(--orange-color);
  cursor: pointer;
}

/* .roadElements button:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--orange-color);
} */

.roadElements button a {
  text-decoration: none;
  /* color: var(--orange-color); */
}
.roadElementsGrid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-row-gap: 48px;
}

.roadElementsGrid .item {
  /* background: #df5a5a; */
  width: 100%;
  min-height: 222px;
}

.number {
  font-size: var(--fonts--desktop--heading2);
  line-height: calc(0.9 * var(--fonts--desktop--heading2));
  color: var(--white-color);
  -webkit-text-stroke: 1px var(--orange-color);
}
.item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.roadElementContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.roadElementsGrid .title {
  font-size: var(--fonts--desktop--sub-heading3);
  line-height: var(--line-height--115);
  width: 100%;
}
.roadElementsGrid .subtitle {
  font-size: var(--fonts--desktop--body2);
  line-height: var(--line-height--115);
  color: var(--body-grey-color);
  width: 75%;
}
.roadElementsGrid hr {
  background-color: var(--light-grey-color);
}
.arrow {
  display: grid;
  place-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .imgContent {
    flex-direction: column;
    padding-inline: 40px;
    bottom: 40px;
  }
  .imgContent .title {
    margin-left: 0;
    width: 100%;
  }
  .imgContent .subtitle {
    margin-top: 16px;
  }
  .imgContent p {
    margin-top: 40px;
    width: 100%;
  }

  .roadElementsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .roadMap {
    padding-inline: 0;
    margin-block: 60px;
    box-sizing: border-box;
  }
  .roadMapContainer {
    padding: 0 1rem;
  }
  .imgContent {
    flex-direction: column;
    bottom: 1%;
  }
  .imgContent .title {
    width: 90%;
    font-size: var(--fonts--mobile--sub-heading1);
    line-height: var(--line-height--100);
    margin-left: 1rem;
  }

  .imgContent .subtitle {
    margin-top: 1rem;
    font-size: var(--fonts--mobile--sub-heading-capital);
    line-height: var(--line-height--100);
  }

  .imgContent p {
    width: 100%;
    padding: 1rem;
    line-height: var(--line-height--115);
    font-size: var(--fonts--mobile--body1);
  }

  .elementTitle {
    margin-top: 2.5rem;
    font-size: var(--fonts--mobile--sub-heading-capital);
    color: var(--orange-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .elementTitle div img {
    width: 10%;
  }
  .roadElements button {
    /* width: 128px; */
    margin-top: 2rem;
    width: max-content;
    /* height: 36px; */
    font-size: 16px;
    padding: 0.781rem 1rem;
  }
  .imgBg img {
    /* object-position: 35%; */
    height: auto;
  }

  .roadElementsGrid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-row-gap: 48px;
  }
  .roadElementContainer {
    gap: 4px;
  }
  .number {
    font-size: 3rem;
    line-height: var(--line-height--100);
    color: var(--white-color);
    -webkit-text-stroke: 1px var(--orange-color);
  }

  .roadElementsGrid .title {
    font-size: var(--fonts--mobile--sub-heading4);
    line-height: var(--line-height--115);
    width: 100%;
  }

  .roadElementsGrid .subtitle {
    font-size: var(--fonts--mobile--body2);
    width: 100%;
  }
}
