.sustainabilityContainer {
  width: 100%;
  position: relative;
  /* border-bottom: 1px solid black; */
  /* margin-top: 5rem; */
}

.hSustainability {
  max-width: var(--w-max);
  padding: 5rem 2.5rem;
  margin: 0 auto;
  /* margin-top: 5rem; */
  position: relative;
}

.sustainImage picture {
  width: 100%;
  height: 100%;
  display: block;
}

.sustainImage {
  width: 100%;
  height: 420px;
  aspect-ratio: 4/3;
  max-width: var(--w-max);
  margin: 0 auto;
}

.sustainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sustainTitles {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.sustainTitles span {
  height: fit-content;
  display: inline-block;
}

.sustainSubtitle {
  width: 25%;
  font-size: var(--fonts--desktop--body2);
  line-height: 115%;
}

.sustainTitle {
  max-width: 600px;
  font-size: 50px;
  line-height: 100%;
  height: fit-content;
}

.sustainTitle span:not(:nth-child(2)):not(:first-child) {
  color: #00b74b;
}

.sustainSubtitle a {
  margin-block-start: var(--space-24);
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .sustainTitles {
    flex-direction: column;
    gap: 24px;

    .sustainSubtitle {
      width: 100%;
    }

    .sustainImage {
      /* clip-path: inset(0 0 100% 0); */
      width: 100%;
      height: auto;
      aspect-ratio: 4/3;
      max-width: var(--w-max);
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .hSustainability {
    padding: 3.75rem 1rem;
  }

  .sustainImage {
    width: 100%;
    height: 70vh;
    aspect-ratio: 16/9;
  }

  .sustainImage img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sustainTitles {
    display: block;
  }

  .sustainTitle {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: var(--fonts--mobile--sub-heading1);
    line-height: var(--line-height--115);
    letter-spacing: -0.025rem;
  }

  .sustainSubtitle {
    width: 100%;
    margin-top: 8px;
    font-size: var(--fonts--mobile--body1);
    line-height: var(--line-height--115);
  }

  .sustainReadMore button {
    padding: 12px 1rem;
    font-size: var(--fonts--mobile--body2);
  }
}

@media screen and (min-width: 1600px) {
  .sustainImage {
    height: 560px;
  }
}