@use "../abstracts/" as *;
.u-screenreader-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(0px 0px 99.9% 99.9%);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}
.u-grabbing-cursor {
	cursor: grabbing;
}
.u-section-top-spacing {
	margin-block-start: var(--space-80);
	@include media("<md") {
		margin-block-start: var(--space-40);
	}
}
.u-section-bottom-spacing {
	margin-block-end: var(--space-80);
	@include media("<md") {
		margin-block-end: var(--space-40);
	}
}
.u-section-top-spacing.--template3-section-top {
	margin-block-start: var(--space-24);
}
.d-n-override {
	display: none !important;
}
