:root {
  --orange-color: hsl(19, 100%, 50%);
  --green-color: hsl(161, 97%, 29%);
  --black-color: hsl(0, 0%, 0%);
  --dark-grey-color: hsl(213, 9%, 19%);
  --body-grey-color: hsl(0, 0%, 65%);
  --mid-grey-color: hsl(217, 5%, 47%);
  --light-grey-color: hsl(240, 1%, 82%);
  --background-color: hsl(0, 0%, 94%);
  --white-color: hsl(0, 0%, 100%);
  --colors--background-grey: hsl(0, 0%, 94%);
  --light-gray: #D1D1D2;
  --border-color: #000;
}


/* colors */
$c-black: #000000;
$c-red: #d60812;
$c-red2: #e1251b;
$c-gray: #888888;
$c-gray72: #727272;
$c-grayF1: #f1f1f1;
/* borders */
$border: 1px solid black;
$borderColor: black;