:root {
  --orange-color: #ff8000;
  --green-color: #0D8C4B;
  --black-color: #000000;
  --dark-grey-color: #2B3138;
  --body-grey-color: #999999;
  --mid-grey-color: #707683;
  --light-grey-color: #D1D1D2; 
  --background-color: #F0F0F0;
  --white-color: #fff;
  --colors--background-grey: hsl(0, 0%, 94%);
  --light-gray: #D1D1D2;
  --border-color: #000;
  --light-separator: #D1D1D2;
}


/* colors */
$c-black: #000000;
$c-red: #d60812;
$c-red2: #e1251b;
$c-gray: #888888;
$c-gray72: #727272;
$c-grayF1: #f1f1f1;
/* borders */
$border: 1px solid black;
$borderColor: black;