 
@forward "./colors";
@forward "./root";
@forward "./radius";
@forward "./sizes";
@forward "./spacings";
// // @forward "./shadows";
// // @forward "./blur";
// // @forward "./classes";
@forward "./grid";
// // @forward "./fonts";
@forward "./breakpoints";
@forward "./root";
// @forward "./base";
body[data-scroll-locked] {
    padding-right: var(--scrollbar-width);
    overflow: hidden !important;
    touch-action: none;
}

body.--hide-header header {
    transform: translateY(-100%) !important;
}