html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}
body {
	line-height: 1;
	&.-scrollLock {
		overflow: hidden;
		position: relative;
		$heightToSet: 100vh;
		@supports (height: 10dvh) {
			$heightToSet: calc(100 * 1dvh);
		}
		height: $heightToSet;
	}
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,
body {
	width: 100%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	//overscroll-behavior: none;
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
	border: none;
	outline: none;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
}

input:not([type="file"]) {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	object-fit: cover;
	object-position: top center;
	display: block;
}
a {
	color: currentColor;
}
/* scroll-behaviour */
html,
body {
	scroll-behavior: smooth;
}
/* autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition-delay: 0.001s;
	transition-delay: 0.001s;
}
/* input type file reset */
input[type="file"]::file-selector-button {
	opacity: 0;
	width: 0;
	padding: 0;
	margin: 0;
}
