:root {
	--size-none: 0px;
	--size-4xs: 8px;
	--size-3xs: 12px;
	--size-2xs: 16px;
	--size-xs: 20px;
	--size-s: 24px;
	--size-m: 32px;
	--size-l: 40px;
	--size-xl: 48px;
	--size-2xl: 60px;
	--size-3xl: 80px;
}