/* Font Sizes */
/* eases */
$easeInOut: cubic-bezier(0.77, 0, 0.175, 1);
$expoOut: cubic-bezier(0.19, 1, 0.22, 1);
$expoIn: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$expoInOut: cubic-bezier(1, 0, 0, 1);
$circOut: cubic-bezier(0.075, 0.82, 0.165, 1);
$circIn: cubic-bezier(0, 0.55, 0.45, 1);
$circInOut: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$backIn: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$backOut: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$quadInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$cubicInOut: cubic-bezier(0.645, 0.045, 0.355, 1);
$quartInOut: cubic-bezier(0.77, 0, 0.175, 1);
$quintInOut: cubic-bezier(0.86, 0, 0.07, 1);
$cubicOut: cubic-bezier(0.215, 0.61, 0.355, 1);
$quadOut: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$quartOut: cubic-bezier(0.165, 0.84, 0.44, 1);
$quintOut: cubic-bezier(0.23, 1, 0.32, 1);
$sineIn: cubic-bezier(0.47, 0, 0.745, 0.715);
$sineOut: cubic-bezier(0.39, 0.575, 0.565, 1);
$sineInOut: cubic-bezier(0.445, 0.05, 0.55, 0.95);
/* z-indices */
/* gutter space */
$gutter: 30px;
/* colors */
$c-black: #000000;
$c-red: #d60812;
$c-red2: #e1251b;
$c-gray: #888888;
$c-gray72: #727272;
$c-grayF1: #f1f1f1;
/* borders */
$border: 1px solid black;
$borderColor: black;
/* max width */
$maxWidth: 1600px;

/* css variables */
:root {
    --themeFontColor: black;
    --viewportWidth: 100vw;
    --viewportHeight: 100vh;
    --containerSidePadding: 55px;
    --viewportSidePadding: 55px;
    --containerWidth: calc(var(--viewportWidth) - var(--containerSidePadding) * 2);
    --gridMargin: 30px;
    --gridCol4NoMargin: calc(var(--containerWidth) / 3);
    --gridCol3: calc(var(--containerWidth) / 4 - var(--gridMargin) * 3 / 4);
    --gridCol4: calc(var(--containerWidth) / 3 - var(--gridMargin) * 2 / 3);
    --responsiveGridCol4: calc(100% / 3 - var(--gridMargin) * 2 / 3);
    --gridCol6: calc(var(--containerWidth) / 2 - var(--gridMargin) * 1 / 2);
    --instagramAspectRatio: calc(135000% / 1080);
    --maxContentScaling: max(100vw, 1600px);
}

html[data-theme="dark"] {
    background-color: #292a2e;
    --themeFontColor: white;
    color: white;

    body,
    input {
        color: white;
    }
}

@media only screen and (max-width: 1023px) {
    :root {
        --containerSidePadding: 20px;
        --viewportSidePadding: 20px;
        --gridMargin: 20px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    :root {
        --containerSidePadding: 30px;
        --viewportSidePadding: 30px;
    }
}

@media only screen and (min-width: 1600px) {
    :root {
        --containerWidth: calc(#{$maxWidth} - 110px);
        --viewportSidePadding: calc(var(--containerSidePadding) + (var(--viewportWidth) - #{$maxWidth}) / 2);
    }
}

body.-scrollLock {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.loginLink {
    //   display: block;
    //   margin-left: auto;
    //   margin-right: auto;
    //   max-width: 84px;
    display: flex;
    justify-content: center;
}

[data-micro-anim] {
    & * {
        pointer-events: none;
    }
}
@import "./base/index";
/* Animations */
@import "animations/anim-micro.scss";
@import "animations/anim-image.scss";
@import "animations/anim-hover.scss";
@import "animations/anim-line.scss";
@import "animations/anim-paragraph.scss";
@import "animations/anim-title.scss";
@import "animations/global.scss";
@import "animations/fadeInUp.scss"; 